<html>
<head>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/screen.css">
    <!-- Commented style sheet rules
    <link rel="stylesheet" type="text/css" media="print, handheld" href="css/print.css">
    <link rel="stylesheet" type="text/css" href="css/{{ page.style }}.css" />
    -->
    <title>{{ page.title }}</title>
</head>
<body>
    {{ content }}

</body>
</html>
